
/*
+----------------------------------------------------------------+
|   BlogBuzz for Dupal 6.x - Version 2.0                         |
|   Copyright (C) 2010 Antsin.com All Rights Reserved.           |
|   @license - GNU GENERAL PUBLIC LICENSE                        |
|----------------------------------------------------------------|
|   Theme Name: BlogBuzz                                         |
|   Description: BlogBuzz by Antsin                              |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
*/

/** body **/
body {
  background-color: #E7E2D9;
}

a, .node-type-blog .date {
  color: #C07C54;
}

/** showcase **/
#showcase {
  border: 1px solid #C9BDA9;
}

#showcase div.number-pager {
  border-top: 1px solid #ABA497;
  background-color: #CFCBC3;
}

#showcase div.number-pager a {
  border: 1px solid #ABA497;
}

#showcase div.number-pager a.activeSlide {
  color: #fff;
  background: #C07C54;  
}

/** main & node **/
#content {
  border: 1px solid #C9BDA9;
}

.extra-links {
  background-color: #E7E2D9;
}

#main-bottom h2 {
  color: #7C705A;
  font-size: 140%;
  padding: 8px 10px;
  border: 1px solid #fff;
}

#main-bottom .title {
  border: 1px solid #C9BDA9;
}

.comment-by-author .picture img {
  border: 1px solid #C07C54;
}

/** sidebar **/
#sidebar-left .title, #sidebar-right .title {
  border-bottom: 1px solid #fff;
}

#sidebar-left h2, #sidebar-right h2 {
  color: #7C705A;
  border-bottom: 1px solid #C9BDA9;
}

#sidebar-left .boxed .content-wrapper, #sidebar-right .boxed .content-wrapper, #main-bottom .boxed .content-wrapper {
  border: 1px solid #C9BDA9;
}

/** footer **/
#footer {
  color: #fff;
  border-top: 2px solid #261A14;
  background-color: #4C3327;
}

#footer .title {
  border-bottom: 1px solid #624234;
}

#footer h2 {
  color: #fff;
  border-bottom: 1px solid #261A14;
}

/** button & read more **/
span.button, .read-more {
  border: 1px solid #C07C54;
}

span.button input.form-submit, .read-more a {
  border: 1px solid #D2A186;
  background-color: #C07C54;  
}

span.button input.form-submit:hover, .read-more a:hover {
  color: #C07C54;
  border: 1px solid #E7E2D9;
  background-color: #E7E2D9; 
}

/** pager **/
ul.pager {
  border-top: 1px solid #ABA497;
  background-color: #CFCBC3;  
}

/** breadcrumb **/
#breadcrumb {
  border-bottom: 1px solid #ABA497;
  background-color: #CFCBC3;
}

/** menu **/
#primary {
  background: #4C3327 url("../images/chocolate/bg_menu.png") repeat-x bottom left; 
}

#primary ul li {
  background: url("../images/chocolate/divider_menu.png") no-repeat bottom right; 
}

#primary ul li:hover,
#primary ul li.active-trail {
  background-color: #4C3327;
  background-image: none;
}

#primary ul ul li {
  background-color: #4C3327;
}

#primary ul ul li.expanded {
  background: #4C3327 url("../images/bg_menu_arrow.png") no-repeat 90% 50%;
}

#primary ul ul a:link,
#primary ul ul a:visited { 
  color: #CFCBC3
}

#primary ul ul a {
  border-top: 1px solid #624234;  
  border-bottom: 1px solid #261A14;
}

#primary ul ul ul li a {
  border-top: 1px solid #624234;  
  border-bottom: 1px solid #261A14 !important;
}