
/*
+----------------------------------------------------------------+
|   BlogBuzz for Dupal 6.x - Version 2.0                         |
|   Copyright (C) 2010 Antsin.com All Rights Reserved.           |
|   @license - GNU GENERAL PUBLIC LICENSE                        |
|----------------------------------------------------------------|
|   Theme Name: BlogBuzz                                         |
|   Description: BlogBuzz by Antsin                              |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
*/

/** body **/
body {
  background-color: #EBEBE1;
}

a {
  color: #F49021;
}

/** showcase **/
#showcase {
  border: 1px solid #D8D9C7;
}

#showcase div.number-pager {
  border-top: 1px solid #898777;
  background-color: #B5B4AA;
}

#showcase div.number-pager a {
  border: 1px solid #D8D9C7;
}

#showcase div.number-pager a.activeSlide {
  color: #fff;
  background: #8D9091;  
}

/** main & node **/
#content {
  border: 1px solid #D8D9C7;
}

.extra-links {
  background-color: #EBEBE1;
}

#main-bottom h2 {
  color: #7C705A;
  font-size: 140%;
  padding: 8px 10px;
  border: 1px solid #fff;
}

#main-bottom .title {
  border: 1px solid #D8D9C7;
}

.node-type-blog .date {
  color: #8D9091;
}

.comment-by-author .picture img {
  border: 1px solid #F49021;
}

/** sidebar **/
#sidebar-left .title, #sidebar-right .title {
  border-bottom: 1px solid #fff;
}

#sidebar-left h2, #sidebar-right h2 {
  color: #7C705A;
  border-bottom: 1px solid #D8D9C7;
}

#sidebar-left .boxed .content-wrapper, #sidebar-right .boxed .content-wrapper, #main-bottom .boxed .content-wrapper {
  border: 1px solid #D8D9C7;
}

/** footer **/
#footer {
  border-top: 2px solid #898777;
  background-color: #B5B4AA;
}

#footer .title {
  border-bottom: 1px solid #D8D7D2;
}

#footer h2 {
  color: #444444;
  border-bottom: 1px solid #979587;
}

/** button & read more **/
span.button, .read-more {
  border: 1px solid #8D9091;
}

span.button input.form-submit, .read-more a {
  border: 1px solid #A2A5A6;
  background-color: #8D9091;
}

span.button input.form-submit:hover, .read-more a:hover {
  color: #8D9091;
  border: 1px solid #EBEBE1;
  background-color: #EBEBE1; 
}

/** pager **/
ul.pager {
  border-top: 1px solid #898777;
  background-color: #B5B4AA;
}

/** breadcrumb **/
#breadcrumb {
  border-bottom: 1px solid #898777;
  background-color: #B5B4AA;
}

/** menu **/
#primary {
  background: #8d9091 url("../images/stone/bg_menu.png") repeat-x bottom left; 
}

#primary ul li {
  background: url("../images/stone/divider_menu.png") no-repeat bottom right; 
}

#primary ul li:hover,
#primary ul li.active-trail {
  background-color: #8d9091;
  background-image: none;
}

#primary ul ul li {
  background-color: #8d9091;
}

#primary ul ul li.expanded {
  background: #8d9091 url("../images/bg_menu_arrow.png") no-repeat 90% 50%;
}

#primary ul ul a {
  border-top: 1px solid #B4B7B8;  
  border-bottom: 1px solid #6F7475;
}

#primary ul ul ul li a {
  border-top: 1px solid #B4B7B8;  
  border-bottom: 1px solid #6F7475 !important;
}