
/*
+----------------------------------------------------------------+
|   BlogBuzz for Dupal 6.x - Version 2.0                         |
|   Copyright (C) 2010 Antsin.com All Rights Reserved.           |
|   @license - GNU GENERAL PUBLIC LICENSE                        |
|----------------------------------------------------------------|
|   Theme Name: BlogBuzz                                         |
|   Description: BlogBuzz by Antsin                              |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
*/

div.ddblock-cycle-blogbuzz h1 {
  padding-bottom: 10px;  
}

div.ddblock-cycle-blogbuzz div.container {
  width: 920px;  
}

div.ddblock-cycle-blogbuzz div.container-inner {
  height: 280px;
}

div.ddblock-cycle-blogbuzz div.slider {
  float: left;
  width: 920px;  
}

div.ddblock-cycle-blogbuzz div.slider-inner {
  height: 280px;
  overflow: hidden;
  position: relative;  
  visibility: hidden;  
}

div.ddblock-cycle-blogbuzz div.slide {
  display: none;
  height: 100%;
}

div.ddblock-cycle-blogbuzz div.slide-text {
  font-style: italic;
  font-size: 17px;
  float: left;
  width: 380px;
}

div.ddblock-cycle-blogbuzz div.slide-image { 
  float: left;
  width: 520px;  
  padding: 0 20px 20px 0;
}

div.ddblock-cycle-blogbuzz div.slide-inner img { 
  height: 200px;
  width: 500px; 
  padding: 9px;
  background: #eeeeee;
  border: 1px solid #dddddd; 
}

div.ddblock-cycle-blogbuzz div.slide-read-more {
  width: 110px;  
}

div.ddblock-cycle-blogbuzz div.slide-read-more a {
  background: url(../images/readmore.png) no-repeat right center;
  border: none;
  right: 260px;
  bottom: 20px;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  font-size: 180%;
  text-align: left;
  width: 120px;  
}

div.ddblock-cycle-blogbuzz div.slide-read-more a:hover {
  background: url(../images/readmore-hover.png) no-repeat right center;
  text-decoration: none;
}

#showcase div.number-pager {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 20px;
  width: 918px;
}

#showcase div.number-pager a {
  display: block;
  float: left;
  font-family: Tahoma,Arial,sans-serif;
  font-size: .7em;
  font-weight: bold;
  height: 13px;
  line-height: 13px;
  margin: 0 4px 0 0;
  text-align: center;
  text-decoration: none;
  width: 13px;  
}

#showcase div.number-pager a:focus {
  outline: none;  
}